@import 'reset';
@import '../../Fieldset/sds-label/sds-label';
@import '../../Fieldset/sds-description/sds-description';
@import '../../Fieldset/sds-field-error/sds-field-error';

:host {
  display: block;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-space-200);
}
