@import 'reset';

// --dialog-width
// --dialog-padding-x
// --dialog-max-width

:host {
  display: block;
  width: 100%;

  --dialog-padding-y: var(--sds-size-space-800);
  --dialog-box-shadow: var(--sds-effects-shadows-drop-shadow-400);
  --dialog-border: var(--sds-size-stroke-border) solid var(--sds-color-border-default-default);

  ::slotted(sds-button-group) {
    padding-left: var(--sds-size-space-800);
    padding-right: var(--sds-size-space-800);
    margin-top: var(--sds-size-space-600);
  }
}

.dialog {
  width: 100%;
  background: var(--sds-color-background-default-default);
  box-shadow: var(--dialog-box-shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--dialog-padding-y);
  padding-top: var(--dialog-padding-y);
  position: relative;

  &:focus {
    outline: none;
  }

  .dialog-close {
    position: absolute;
    top: var(--sds-size-space-200);
    right: var(--sds-size-space-200);
  }
}

.dialog-type-card {
  border-radius: var(--sds-size-radius-200);
  border: var(--dialog-border);
  max-width: var(--dialog-max-width, var(--global-dialog-max-width));
  width: var(--dialog-width, calc(100% - var(--sds-size-space-400) * 2));
  padding-left: var(--dialog-padding-x, 0);
  padding-right: var(--dialog-padding-x, 0);
}

.dialog-type-sheet {
  align-self: flex-end;
  border-top: var(--dialog-border);
  max-width: var(--dialog-max-width, 100%);
  width: 100%;
  padding-left: var(--dialog-padding-x, calc((100% - min(var(--global-container-max-width), 100%)) / 2));
  padding-right: var(--dialog-padding-x, calc((100% - min(var(--global-container-max-width), 100%)) / 2));
}
