@import 'reset';

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-space-600);
  width: 100%;

  &.fieldset-disabled {
    --field-label-color: var(--sds-color-text-disabled-default);
    --field-description-color: var(--sds-color-text-disabled-default);

    > * {
      color: var(--sds-color-text-disabled-default);
    }
  }
}
