@import 'reset';

:host {
  display: block;
  width: 100%;
}

.checkbox {
  --checkbox-background: var(--sds-color-background-default-default);
  --checkbox-border: var(--sds-color-border-default-default);
  --checkbox-icon: var(--sds-color-icon-brand-on-brand);
  --checkbox-border-radius: var(--sds-size-radius-100);

  align-items: center;
  background: var(--checkbox-background);
  box-shadow: inset 0 0 0 var(--sds-size-stroke-border) var(--checkbox-border);
  box-sizing: border-box;
  border-radius: var(--checkbox-border-radius);
  display: flex;
  height: var(--sds-size-space-400);
  justify-content: center;
  position: relative;
  width: var(--sds-size-space-400);

  > .icon {
    --icon-color: var(--checkbox-icon);

    display: none;
  }

  &:has(.input:focus-visible) {
    &::before {
      --offset: calc(var(--sds-size-stroke-border) * 2);

      content: '';
      border-radius: calc(var(--checkbox-border-radius) + var(--offset));
      inset: calc(-1 * var(--offset));
      box-shadow: 0 0 0 var(--global-focus-ring-size) var(--global-focus-ring-color);
      position: absolute;
    }
  }
}

.checkbox:has(.input:disabled) {
  &,
  &:has(.input:checked) {
    --checkbox-background: var(--sds-color-background-disabled-default);
    --checkbox-border: var(--sds-color-border-disabled-default);
  }
}

.checkbox:has(.input:checked) {
  --checkbox-background: var(--sds-color-background-brand-default);
  --checkbox-border: var(--checkbox-background);

  &[data-indeterminate] {
    .icon-indeterminate {
      display: block;
    }
  }

  &:not([data-indeterminate]) {
    .icon-selected {
      display: block;
    }
  }
}

.checkbox .input:checked:disabled {
  --checkbox-icon: var(--sds-color-icon-disabled-default);
}
