<style>
  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  hr {
    height: 4px;
    background: #0001;
    width: 100%;
    border: none;
  }
</style>

<main class="main">
  <label>
    <input [checked]="disabled" type="checkbox" (change)="toggleDisabled()" />
    Disable form
  </label>
  <hr />
  <sds-button>test</sds-button>
</main>

<router-outlet />
