.field {
  --field-label-color: var(--sds-color-text-default-default);
  --field-description-color: var(--sds-color-text-default-secondary);
  --field-row-gap: var(--sds-size-space-200);

  display: grid;
  grid-template-areas:
    'field-label field-extra'
    'field-main field-main'
    'field-description field-description'
    'field-error field-error';
  width: 100%;

  :disabled > &,
  &--disabled {
    --field-label-color: var(--sds-color-text-disabled-default);
    --field-description-color: var(--sds-color-text-disabled-default);
  }

  // TODO: use this css var instead of the :slotted selector
  --input-grid-area: field-main;

  ::slotted(.select),
  ::slotted(.text-area),
  ::slotted(.slider) {
    grid-area: field-main;
  }

  // slotted label
  --input-label-grid-area: field-label;
  --input-label-margin-bottom: var(--field-row-gap);

  // slotted description
  --input-description-area: field-description;
  --input-description-margin-top: var(--field-row-gap);

  // slotted error-message
  --input-error-message-grid-area: field-error;
  --input-error-message-margin-top: var(--field-row-gap);
}
