@import 'reset';

:host,
.description {
  grid-area: var(--input-description-area);
  margin-top: var(--input-description-margin-top);
}

.description {
  color: var(--field-description-color);
  font: var(--sds-font-body-base);
}