@import 'reset';

:host {
  display: block;
}

.dialog-description {
  display: block;
  padding-left: var(--sds-size-space-800);
  padding-right: var(--sds-size-space-800);
  margin-top: var(--sds-size-space-200);
}
