@import 'reset';

:host {
  display: block;
}

.dialog-body {
  display: block;
  padding-left: var(--sds-size-space-800);
  padding-right: var(--sds-size-space-800);
  margin-top: var(--sds-size-space-600);
}

.dialog-body-bleed {
  margin-left: calc(-1 * var(--sds-size-space-800));
  margin-right: calc(-1 * var(--sds-size-space-800));

  --table-gutter-inset: var(--sds-size-space-800);
}
