@import 'reset';

.error-message {
  color: var(--sds-color-text-danger-default);
  font: var(--sds-font-body-base);

  grid-area: var(--input-error-message-grid-area);
  margin-top: var(--input-error-message-margin-top);
}