@import 'reset';

// :host {
//     flex: 1;
// }

:host(.flex-item-size-full) {
  --column-ratio: var(--column-ratio--full);
}

:host(.flex-item-size-major) {
  --column-ratio: var(--column-ratio--major);
}

:host(.flex-item-size-minor) {
  --column-ratio: var(--column-ratio--minor);
}

:host(.flex-item-size-half) {
  --column-ratio: var(--column-ratio--half);
}

:host(.flex-item-size-fill) {
  --column-ratio: var(--column-ratio--fill);

  flex-grow: 1;
}

:host {
  --column-count: calc(1 / var(--column-ratio));
  --base-width: calc((100% / var(--column-count)) - (((var(--column-count) - 1) / var(--column-count)) * var(--flex-gap)));
  --column-span: calc(var(--column-ratio) * var(--column-count));

  flex-basis: calc(var(--column-span) * var(--base-width));
  max-width: calc(var(--column-span) * var(--base-width));
}
